<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Welcome to the CSE 340 Service Network!</h2>
        <ul>
            <li>Environmental</li>
            <li>Educational</li>
            <li>Community Service</li>
            <li>Health and Wellness</li>
            
        </ul>
        <!-- Put your page-specific content here -->
    </main>
    <%- include('partials/footer') %>