<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Welcome to the CSE 340 Service Network!</h2>
        <ul>
            <% categories.forEach(category => { %>
                <li><%= category.category_name %></li>
            <% }); %>
            
        </ul>
        <!-- Put your page-specific content here -->
    </main>
    <%- include('partials/footer') %>